{% extends 'auth/admin.html' %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'admin/user_reg.css' %}" />
{% endblock %}

{% block body %}

<div class="body">
    <div class="containers">
        <div class="title">Teacher Details</div>
        <div class="content">
      <form  method="POST">
        <div class="user-details">
          <div class="input-box">
            <label for="teacher">Teacher:</label>
            <!-- <input type="text" placeholder="Enter your first name" required name="first_name"> -->
            <select name="teacher" id="teacher" class="custom-class" required>
              {% for teacher in teachers %}
                <option value="">{{teacher.username}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" placeholder="Enter your address" required name="address">
          </div>
          <div class="input-box">
            <span class="details">Primary Number</span>
            <input type="text" placeholder="Enter your number" required name="primary_number" maxlength="10" minlength="10">
          </div>
          <div class="input-box">
            <span class="details">Secondary Number</span>
            <input type="text" placeholder="Enter your number" required name="secondary_number" maxlength="10" minlength="10">
          </div>
          <div class="input-box">
            <label for="dob">
                <!-- <span class="details">Date Of Birth</span> -->
                Date Of Birth:
            </label>
            <input type="date" placeholder="Enter your password" id="dob" required name="DOB">
          </div>
          <div class="input-box">
            <label for="id_sex">Gender</label> <select name="sex" class="custom-class" required id="id_sex">
                <option value="M" selected>Male</option>
                <option value="F">Female</option>
              </select>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
        </div>
    </div>

<script>
{% for message in messages %}
    var toast{{ forloop.counter }} = document.getElementById('toast{{ forloop.counter }}');
    var close{{ forloop.counter }} = document.getElementById('close{{ forloop.counter }}');
    
    close{{ forloop.counter }}.addEventListener('click', function() {
        removeToast(toast{{ forloop.counter }});
    });

    setTimeout(function() {
        removeToast(toast{{ forloop.counter }});
    }, 3000);
{% endfor %}

function removeToast(el) {
    el.style.opacity = '0';
    el.style.height = '0';
    el.style.margin = '0';
    el.style.padding = '0';
    setTimeout(function() {
        el.remove();
    }, 500); // delay should match the transition duration
}
</script>

</div>

{% endblock %}
